name: Android CI

on:
  push:
    branches: [ "main", "master" ]
    tags: [ "v1.2" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'

    # গিটহাব নিজেই গ্রেডল সেটআপ করে নেবে, আমাদের আর gradlew ফাইলের দরকার নেই!
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3

    # সরাসরি কমান্ড রান করা
    - name: Build with Gradle
      run: gradle assembleRelease
