name: Android CI

on:
  push:
    branches: [ "main", "master" ]
    tags: [ "v1.2" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4 # Updated to v4

    - name: Set up JDK 11
      uses: actions/setup-java@v4 # Updated to v4
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle
      run: ./gradlew assembleRelease

    - name: Upload APK
      uses: actions/upload-artifact@v4 # The Fix: Updated to v4
      with:
        name: app-release
        path: app/build/outputs/apk/release/*.apk
